li{
    list-style: none;
    display: inline;
    
}
.skills img{
    width: 70px;
}
.pic img{
    width: 370px;
}
.myComand img{
    width: 270px;
}
.logo img{
    width: 44px;
}
.clients img{
    width: 70px;
}
.main_div{
    width: 1600px;
}